*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* navbar */
header {
    background: #DBE7E5;
    padding: 10px; 
}

header nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    /* height: 60px;  */
}

header nav span {
    margin: 0;
    font-size: 24px; 
    border: 1px solid transparent;
    border-radius: .5em;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    color: white; 
}

header nav span a{
    text-decoration: none;
    color: black;
}

header nav span a:hover{
    color: white;
    border-radius: .5em;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    background-color: #60929F;
}

header nav section a{
    text-decoration: none;
    color: black;
}

.content {
    display: flex;
    background-color: white;
}

/* side-bar */
.main .side-bar {
    border-radius: .25em;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    background-color: #E7DBDC;
    color: black;
    width: 200px;
    padding: 15px;
    height: 100vh;
    position: relative;
    transition: width 0.4s ease; 
    overflow: hidden;
}

.main .side-bar.shrink {
    width: 50px;
    height: 100vh; 
}

.main .side-bar .side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.partition-line {
    border: none;
    height: 2px;
    background-color: rgb(180, 178, 178);
    margin: 15px 0;
    width: 100%;
}

#toggleSidebar {
    cursor: pointer;
    margin-bottom: 15px; 
}

#toggleSidebar:hover{
    color: red;
}

#optionsList.hidden {
    display: none; 
}

.options {
    list-style: none;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

.options li {
    margin: 5px 0; 
    cursor: pointer; 
}

.options li a {
    text-decoration: none; 
    color: black; 
    font-size: 16px; 
    align-items: center;
    padding: 10px; 
}

.options li a:hover{
    color: red;
}

.sub-menu {
    display: none;
    list-style: none;
    padding-left: 20px;
    margin-top: 10px;
}

.sub-menu li a {
    color: black; 
    font-size: 14px; 
    text-decoration: none;
}

.sub-menu li a:hover {
    color: red;
}

.show-sub-menu {
    display: block;
}

.container{
    width: 100%;
}

.container .insider .greetings h1{
    font-family: "Playwrite CU", cursive;
}

.greetings{
    text-align: center;
}

.greetings{
    animation: fade 3s ease-in forwards;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

.greeting-message {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.greeting-message.show {
    opacity: 1;
}

#todo-app{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#todo-app h1{
    font-size: xx-large;
    /* font-family: "Playwrite CU", cursive; */
}

#todo-app #task-form button{
    background: white;
    border: none;
    cursor: pointer;
}

#todo-app #task-form input{
    width: 100%;
    height: 25px;
    border-radius: .25rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

#task-list li {
    list-style-type: none;
    padding: 5px 0;
}

.container .insider #todo-app #task-form .bt{
    border: 1px solid black;
    border-radius: .25rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    margin: 10px;
    margin-top: 20px;
}

.task-container {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.deletebutton, .status-button {
    background: white;
    border: 1px solid black;
    border-radius: .25rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    margin: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.deletebutton{
    background-color: rgb(248, 115, 115);
}

.status-button{
    background-color: rgb(250, 250, 128);
}

footer{
    background-color: gray;
    color: white;
    text-align: center;
}

@media (min-width:400px) and (max-width:600px){
    .container .insider #todo-app #task-form .bt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: .25rem;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
        margin: 10px;
        margin-top: 20px;

    }
}
